:root{
    --clr-black:     #1c1c1c;
    --clr-white:     #f7f7f7;
    --clr-gray:      #ececec;

    --type-normal:   #A8A878;
    --type-fire:     #F08030;
    --type-water:    #6890F9;
    --type-grass:    #78C850;
    --type-electric: #F8D030;
    --type-ice:      #98D8D8;
    --type-fighting: #C03028;
    --type-poison:   #A040A0;
    --type-ground:   #E0C068;
    --type-flying:   #A890F9;
    --type-psychic:  #F85888;
    --type-bug:      #A8B820;
    --type-rock:     #88A038;
    --type-ghost:    #705898;
    --type-dark:     #705848;
    --type-dragon:   #7038F8;
    --type-steel:    #B888D0;
    --type-fairy:    #F0B6BC;
}


body{
    background-color: white;
}
header{
    background-color: aquamarine;
}

